@using System.Net.Http
@using BookDepoSystem.Presentation.Extensions

@model RegisterViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Регистрация";
    var globalError = this.ViewContext.ModelState.GetFirstGlobalError();
}

<h3 class="card-title text-center">Регистрация</h3>

@if (!string.IsNullOrWhiteSpace(globalError))
{
    <span class="d-block alert alert-danger">
        @globalError
    </span>
}

@if (TempData.ContainsKey("MessageText"))
{
    <span class="d-block alert alert-@TempData["MessageVariant"]">
        @TempData["MessageText"]
    </span>
}

<form class="user" asp-action="Register" method="post">
    <!-- Email Input -->
    <div class="form-group">
        <input asp-for="Email"
               class="form-control"
               aria-describedby="emailHelp"
               placeholder="@T.EmailPlaceholderText">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <!-- Username Input -->
    <div class="form-group">
        <input asp-for="Name"
               class="form-control"
               placeholder="Потребителско име">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <!-- Phone number Input -->
    <div class="form-group">
        <input asp-for="PhoneNumber"
               class="form-control"
               placeholder="Телефонен номер">
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <!-- Password Input -->
    <div class="form-group">
        <input asp-for="Password"
               type="password"
               class="form-control"
               placeholder="@T.PasswordPlaceholderText">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <!-- Confirm Password Input -->
    <div class="form-group">
        <input asp-for="ConfirmPassword"
               type="password"
               class="form-control"
               placeholder="Потвърждаване на парола">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <!-- Submit Button -->
    <div class="form-group d-grid">
        <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
    </div>
    <!-- Forgot Password Link -->
    <div class="form-group text-center">
        <a href="@Url.Action("Login")" class="text-decoration-none">Вход</a>
    </div>
</form>